:root {
    --fuenteHeading: "PT Sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;
    --primario: #784d3c;
    --blanco: #ffff;
    --negro: #000;
    --gris: #e1e1e1;

}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
}

main {
    height: 620px;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}


h1 {
    text-align: center;
}

button {
    background-color: var(--gris);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


.footer {
    background: linear-gradient(380deg, rgba(5, 5, 5, 0), #171e1d);
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--gris);

}