:root {
    --fuenteHeading: "Poppins", sans-serif;
    --fuenteParrafos: "Poppins", sans-serif;
    --primario: #784d3c;
    --blanco: #ffff;
    --negro: #000;
    --gris: #e1e1e1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--fuenteHeading);
}

.navigation {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 44px;
    list-style: none;
    top: 34%;
    transform: translate(-50%);
}

.navigation #inicio,
#hechizos,
#libros,
#pociones,
#casas,
#datos {
    color: var(--negro);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    padding-top: 12px;
    border-radius: 80px;
    border-style: none;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frase {
    color: var(--negro);
    font-size: 1rem;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--fuenteParrafos);
}


@media (max-width: 800px) {
    .logo {
        top: 15%;
        left: 55%;
    }

    .frase {
        top: 30%;
        left: 55%;
        width: 75%;
        font-weight: bold;
    }
}




section {
    
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
}

#section2,
#section3,
#section4,
#section5,
#section6 {
    display: none;

}

#section1:before {
    z-index: 888;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, #1D2625);
}

#section2 {
    display: none;
}

section:nth-child(6) {
    background: #592C41;
}



.navigation li {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s;
    list-style: none;
}


video {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}


@media(min-aspect-ratio: 16/9) {
    video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

/* ---------- HECHIZOS --------------- */

.bosque {
    background-image: url(../img/bg-bottom.webp);
    /*pasar hexadecimal a rgba*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

button {
    height: 40px;
    width: 40px;
    display: block;
    margin-top: 11px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    background-color: #3F5259;
}

.navigation i {
    color: white;
    margin-bottom: 10px;
}




.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding: 30px 20px;
    margin-left: 62px;
    margin-right: 30px;

}

.spellitem,
.characterItem,
.potionItem {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 25px;
    background: white;
    text-align: left;
    padding: 30px 20px;
    margin-left: 2px;
    margin-top: 30px;
}

.spellitem strong,
.characterItem strong,
.potionItem strong {
    margin-bottom: 10px;

}



/* ---------- SEARCH --------------- */

.container-bosque{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    grid-template-rows: 100px;
    gap: 10px;
}

.title {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 40px;
}

.menu{
    padding: 10px;
    outline: none;
    border-radius: 13px;
    width: 50%;
    font-size: 14px;
}

.bosque label{
    color: white;
    width: 250px;
    margin-left: 40%;
}

.bosque input {
    padding: 10px;
    outline: none;
    border-radius: 13px;
    width: 70%;
    font-size: 14px;
}

@media (max-width: 800px) {
    .bosque input, .menu,
    .bosque label{
      margin-left: 25%;
      width: 50%;
    }

    .container-bosque{
        grid-template-rows: 25px;

    }
}

span {
    color: var(--blanco);
    font-weight: bold;
    margin-left: 50px;
    font-size: 1rem;
}


/* ---------- OTHER INFORMATION  --------------- */

.container-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}


.circular-container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: white;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-top: 20px;
}

.circular-progress,
.circular-progress02{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#6e647c 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before,
.circular-progress02::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: white;
}

.progress-value,
.progress-value02{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #91889c;
}

.text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}
@media (max-width: 800px) {
    .circular-container {
        width: 280px;
        margin-top: 0%;
        margin-bottom: 5%;
        margin-left: 60px;
    }

    .circular-progress,
.circular-progress02{
    height: 120px;
    width: 120px;
}

.circular-progress::before,
.circular-progress02::before{
    height: 100px;
    width: 100px;
}

.progress-value,
.progress-value02{
    font-size: 30px;
    margin-right: 25%;
}

.text{
    font-size: 16px;
    margin-right: 10%;
}
}


/* ---------- POCIONES --------------- */


.left-btn:hover img,
.right-btn:hover img {
    opacity: 1;
}

/* ---------- BOOKS --------------- */

.all-books {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.book-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 580px;
    padding: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-card .book-card__cover {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card__book {
    height: 90%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card__book-front img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.book-card .book-card__book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card__book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}

.book-card .book-card__img {
    width: 20px;
    height: 20px;
    background-size: contain;

}

.book-card .book-card__title {
    font-size: 14px;
    margin-top: 3px;
    font-weight: bold;
    text-align: center;
    font-family: var(--fuenteHeading);
}

.book-card .book-card__author p {
    text-align: justify;
    position: absolute;
    left: 100%;
    bottom: 30%;
    top: 0%;
    padding: 6px;
    color: #000000;
    font-size: 14px;
    width: 300px;
    font-family: var(--fuenteHeading);
    line-height: 25px;
}

.book-card:hover .book-card__book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card:hover .book-card__book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card:hover .book-card__book-side {
    opacity: 1;
}

/* ---------- DATOS CURIORIOSOS --------------- */
#section6>h1 {
    position: absolute;
    left: 45%;
    bottom: 90%;
}

.all-funfacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 70px 0px 0px 70px;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapercave.com%2Fhogwarts-legacy-wallpapers&psig=AOvVaw00WmQ98o_H9qO0GB6jEfS7&ust=1679970652889000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPjTh8KI-_0CFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

}

.funfacts {
    margin: 20px;
    width: 250px;
    height: 330px;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/236x/ea/c8/ea/eac8ea2365b9bd83d9b36b5bc91fded3.jpg);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
}

.card-funfact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.4);
    opacity: 0;
    transition: .5s;
}

.card-funfact h2,
p {
    color: white;
    margin: 10px;
    font-size: 16px;
}

.funfacts:hover .card-funfact {
    opacity: 1;
}
@media (max-width: 800px) {
    .all-funfacts {
      margin-left: 10px;
    }
}
.final {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--fuenteHeading);
    background: linear-gradient(transparent, #d3d4d1);
    padding: 5px;
}