:root {
    --fuenteHeading: "PT Sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;
    --primario: #784d3c;
    --blanco: #ffff;
    --negro: #000;
    --gris: #e1e1e1;

}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
}

main {
    height: 620px;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}


h1 {
    text-align: center;
    
}



button {
    height: 50px;
    width: 40px;
    display: block;

}

span {
    color: var(--blanco);
    font-weight: bold;
    margin-left: 50px;
    font-size: 1rem;
}

.footer {
    background: linear-gradient(380deg, rgba(5, 5, 5, 0), #171e1d);
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--gris);
}