@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
    --fuenteHeading: 'PT Serif', serif;
    --fuenteParrafos: "Open Sans", sans-serif;
    --primario: #784d3c;
    --blanco: #ffff;
    --negro: #000;
    --gris: #e1e1e1;

}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

body {
    font-family: 'Poppins', serif;
}

.navigation {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 44px;
    list-style: none;
    top: 34%;
    transform: translate(-50%);
}

.navigation #inicio,
#hechizos,
#libros,
#pociones,
#casas,
#datos {
    color: var(--negro);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    padding-top: 12px;
    border-radius: 80px;
    border-style: none;
}


.seccion1 #botones {
    opacity: 0;
}

.seccion1:hover #botones {
    opacity: 1;
}


.logo {
    display: block;
    margin: 0 auto;
}

.frase {
    color: var(--negro);
    font-size: 1rem;
    text-align: center;
    
}

span {
    color: var(--blanco);
    font-weight: bold;
    margin-left: 50px;
    font-size: 1rem;


}


section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
}

#section2,
#section3,
#section4,
#section5,
#section6 {
    display: none;
    
}

#section1:before {
    z-index: 888;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, #1D2625);
}

#section2 {
    display: none;
}

section:nth-child(3) {
    background: #3F5259;

}

section:nth-child(4) {
    background: #857bb9;

}

section:nth-child(5) {
    background: #7bb993;
}

section:nth-child(6) {
    background: #a3b97b;
}

.navigation li{
    width: 10px;
    height: 10px;
    background: #ccc;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s;
    list-style: none;
}

.navigation li:hover, .navigation li.selected{
    transform: scale(1.8);
}


video{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}


@media(min-aspect-ratio: 16/9) {
    video {
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ---------- HECHIZOS --------------- */

.bosque {
    background-image: linear-gradient(rgba(29, 38, 37, 0.2),
            rgba(29, 38, 37, 0.2)), url(../img/bg-bottom.webp);
    /*pasar hexadecimal a rgba*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

button {
    height: 40px;
    width: 40px;
    display: block;
    margin-top: 11px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    background-color: #1D2625;
}

.navigation i{
    color: white;
    margin-bottom: 10px;
}


.bosque .title {
    text-align: center;
    padding-top: 50px;
    color: white;
    /* text-shadow: 0 5px 10px rgba(0,0,0, 2);*/
    font-size: 40px;
}

.menu {
    margin-left: 60px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding: 30px 20px;
    margin-left: 62px;
    margin-right: 30px;
}


.spellitem {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 25px;
    background: white;
    text-align: left;
    padding: 30px 20px;
    margin-left: 2px;
    margin-top: 30px;


}

.spellitem strong {
    font-weight: bold;
    margin-bottom: 10px;

}



/* ---------- SEARCH --------------- */

.bosque i {
    color: white;
}

.bosque input {
    padding: 10px;
    outline: none;
    border-radius: 13px;
    width: 18%;
    margin-left: 77%;
    position: absolute;
    font-size: 14px;
}

span {
    color: var(--blanco);
    font-weight: bold;
    margin-left: 50px;
    font-size: 1rem;
}

.search-button {
    position: relative;
    background-color: black;
    cursor: pointer;
    border-radius: 100%;
    height: 40px;
    left: 93%;
    top: 6%;
    z-index: 1;
    margin-top: -30px
}

/* ---------- OTHER INFORMATION  --------------- */

li {
    color: white;
}

.info-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    padding: .5rem;
    color: white;
}

.card>.title-info {
    margin-bottom: .25rem;
}

.card>.body-info {
    font-size: .8rem;
}

.hide {
    display: none;
}



/* ---------- ARROW LEFT AND RIGHT  --------------- */

.left-btn,
.right-btn {
    border: none;
    width: 5vw;
    height: 70%;
    position: absolute;
    top: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0% ,#fff 100%);*/
    background: transparent;
    cursor: pointer;
    z-index: 9;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.left-btn img,
.right-btn img {
    opacity: 0.2;
}

.left-btn:hover img,
.right-btn:hover img {
    opacity: 1;
}

/* ---------- BOOKS --------------- */

.all-books{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.book-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 580px;
    padding: 16px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.book-card .book-card__cover {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}
.book-card .book-card__book {
    height: 80%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}
.book-card .book-card__book-front {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #9b1c1c;
}
.book-card .book-card__book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}
.book-card .book-card__book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}
.book-card .book-card__img {
    width: 20px;
    height: 20px;
    background-size: contain;
    
}
.book-card .book-card__title {
    font-size: 14px;
    margin-top: 3px;
    font-weight: bold;
}
.book-card .book-card__author p{
    text-align: justify;
    position: absolute;
    left: 100%;
    bottom: 30%;
    top: 0%;
    padding: 10px;
    color: #000000;
    font-size: 13px;
    width: 300px;
}
.book-card:hover .book-card__book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}
.book-card:hover .book-card__book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}
.book-card:hover .book-card__book-side {
    opacity: 1;
}

/* ---------- FOOTER --------------- */
.imgHp {
    height: 24px;
    width: 50px;
    margin: 0;
    display: inline-block;
    opacity: 0.5;

}

.final,
.link,
a {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    font-family: var(--fuenteHeading);
    background: linear-gradient(transparent, #1D2625);
}

/* ---------- DATOS CURIORIOSOS --------------- */
#section6 > h1{
    position: absolute;
    left: 45%;
    bottom: 90%;
    color: white;
    
}
.all-funfacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 70px  0px 0px 70px;
    
}
.funfacts{
    margin: 20px;
    width: 250px;
    height: 330px;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/236x/ea/c8/ea/eac8ea2365b9bd83d9b36b5bc91fded3.jpg);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
}
.card-funfact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.4);
    opacity: 0;
    transition: .5s;
}

.card-funfact h2, p{
    color: white;
    margin: 10px;
    font-size: 16px;
}

.funfacts:hover .card-funfact{
    opacity: 1;
}